{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body >
  
<DIV id="heading">
<img src="https://www.reviewadda.com/assets/uploads/college/logo/LOGO_70905.jpg">
<h1>Pillai college of engineering , New Panvel</h1>
</DIV>



<div id="lasso">
         <pre>                                               MAKER'S STUDIO</pre>  
</div>

<br>
<br>
<br>
<br>



<div id="box1"><A HREF="furm.html"> USER DETAILS</A></div>
<div id="box2"><A HREF="form.html">ADMIN LOGIN</A></div>
<BR></BR><BR></BR><BR><BR></BR><BR></BR>
</body>
</html>