*{
   font-family: 'Times New Roman', Times, serif;
   padding:0;
   margin:0;   
}

body{
 background-image: url("https://static.vecteezy.com/system/resources/previews/023/041/949/non_2x/galaxy-space-wallpaper-in-the-style-of-dark-violet-and-light-violet-realistic-usage-of-light-and-color-richly-colored-skies-realistic-textures-generat-ai-free-photo.jpg");
}

div{
    display:inline-flex;
}
#heading{
    background-color: rgb(145, 35, 147);
    height: 80px;
    position:relative;
    display:flex;
    top:0px;
}

img{
    height:58px ;
    border-radius: 15%;
    margin-left: 325px;
    margin-right: 0px;
    margin-top: 12px;
    opacity: 0.8;
    filter: contrast(2.5);
}

h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    margin-left: 80px;
    margin-top: 20px;
}

#line{
  display: inline;
  align-self: center;
}
#box1{
height:185px;
    background-position-x: center;
  background-position-y: center;
  margin-right: 125PX;
  margin-left: 255PX;
  justify-content: center;
  align-items: center;
    width:350px;
 background-image:radial-gradient(rgb(60, 125, 178), DARKMAGENTA) ;
 border-radius: 33PX;
 
}
#box2{
  height:185px;
    background-position-x: center;
  background-position-y: center;
  margin-right: 95PX;
  margin-left: 165PX;
  justify-content: center;
  align-items: center;
    width:350px;
 background-image:radial-gradient(rgb(60, 125, 178), DARKMAGENTA) ;
 border-radius: 33PX;
}


A{
    color: rgb(228, 188, 232);
    text-shadow: 0PX 0PX 20PX rgb(252, 240, 252),
                         0PX 0PX 50PX  plum,
                         0PX 0PX 80PX rgb(236, 74, 254);
    text-decoration: none;
    font-size: 22px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}

A:hover{
  color:darkgoldenrod;
  background-color: rgb(199, 199, 199);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  
}

#lasso{
border: 5px double rgb(251, 247, 252);
  background: linear-gradient( rgba(181, 142, 209, 0.964),rgb(166, 77, 166),purple);
  width:100%;
 font-family: times;
  font-weight: bolder;
  margin-top: 145PX;
  margin-bottom: 120PX;
  font-size: 47px;
  text-align: center;
  align-content: center;
  color: rgb(254, 252, 255);
  text-shadow: 0 0 28px rgb(209, 209, 209),
                        0 0 80px plum,
                        0 0 80px rgb(206, 181, 206);
                      
}